<div class="row">
         <div class="col-sm-4 col-lg-3">
           <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Options</h4>
                </div>
                <div class="panel-body">

                        <div class="form-group">
                            <label for="clientSelect" class="col-md-2 control-label">Select Client</label>
                            <div class="col-md-10">
                                <select id="clientSelect" class="form-control" (change)="clientChange($event.target.value)">
                                <option *ngFor="let client of allData.clientList" >{{client}}</option>
                                
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="node" class="col-md-2 control-label">Node: </label>
                            <div class="col-md-10">
                                <select id="node" class="form-control" (change)="nodeChange($event.target.value)">
                                <option *ngFor="let node of allData.nodeList" >{{node}}</option>
                                
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timeframe" class="col-md-2 control-label">Time: </label>
                            <div class="col-md-10">
                                <select id="timeframe" class="form-control" (change)="timeChange($event.target.value)">
                                <option *ngFor="let time of allData.timeList" >{{time}}</option>
                                
                                </select>
                            </div>
                        </div>
                </div> <!-- end of panel-body -->
              
            </div> <!-- end of panel-default -->
        </div> <!-- end of column -->
      
                <setChart></setChart>
        
        
        
    </div> <!-- end of first row -->
    <div class="row">
       
    </div> <!-- end of row -->