<div class="header-panel">
    <navComponent></navComponent>
</div>
<div class="container-fluid main">
    <div class="row">
         <div class="col-sm-3">
           <optionsComponent></optionsComponent>
        </div> <!-- end of column -->
        <div class="col-sm-9">
            <div class="well" style="">
                <piechart></piechart>
            </div>
        </div>
        
    </div>
    <div class="row">
       
    </div> <!-- end of row -->
</div> <!-- end of lower container -->